/*:root  -> 获取根元素html*/
:root {
  --color-black: #232323;
  --color-gray: #2B323B;
  --color-white: #e9e9e9;
  --color-purple: #3F3663;
  --color-main: #545c64;
  --color-minor: #ffd04b;
}

/* 隐藏body的滚动条 */
/* body::-webkit-scrollbar{
    display:none;
} */

*{
  touch-action: none;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue",Helvetica, "PingFang SC","Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,sans-serif;
    user-select: none;  /*禁止用户鼠标在页面上选中文字/图片等*/
    --webkit-tap-highlight-color: transparent; /*webkit是菜单浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节*/
    width: 100vw;
}


a{
    text-decoration: none;
}

.clear-fix::after{
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix{
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}
